<!-- BEGIN #header -->
		<div id="header" class="app-header">
			<!-- BEGIN desktop-toggler -->
			<div class="desktop-toggler">
				<button id="def" type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed" data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			</div>

			<!-- <button onclick="checkToggle()">aaa</button> -->

			<!-- BEGIN desktop-toggler -->
			
			<!-- BEGIN mobile-toggler -->
			<div class="mobile-toggler">
				<button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			</div>
			<!-- END mobile-toggler -->
			
			<!-- BEGIN brand -->
			<div class="brand">
				<a href="../main/index.html" class="brand-logo">
					<span class="brand-img">
						<span class="brand-img-text text-theme">PIOLINK CTI</span>
					</span>
					<span class="brand-text">v2.0</span>
				</a>
			</div>
			<!-- END brand -->
			
			<!-- BEGIN menu -->
			<div class="menu">
				<div class="menu-item ">
					<a href="#" class="menu-link">
						<i class="bi bi-clock me-2" style="margin-top: 2px;"></i> 
						<span id="time">08:00</span>
					</a>
				</div>
				<div class="menu-item dropdown dropdown-mobile-full">
					<a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
						<div class="menu-text d-sm-block d-none">
							guest
							<i class="fas fa-lg fa-fw me-2 fa-angle-down" style="font-size: 8px;"></i>
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1" style="width: 226px">
						<div style="padding: 0 16px;">
							<table class="table table-bordered table-sm text-center my-2">
								<thead>
										<tr>
												<th>아이디</th>
												<th>IP</th>
												<th>시간</th>
										</tr>
								</thead>
								<tbody>
										<tr>
												<td>defuguer</td>
												<td>1.1.1.1</td>
												<td>2021-10-26 18:13:01</td>
										</tr>
								</tbody>
							</table>
						</div>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item d-flex align-items-center" href="../main/login.html">LOGOUT <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></a>
					</div>
				</div>
			</div>
			<!-- END menu -->
			
			<!-- BEGIN menu-search -->
			<form class="menu-search" method="POST" name="header_search_form">
				<div class="menu-search-container">
					<div class="menu-search-icon"><i class="bi bi-search"></i></div>
					<div class="menu-search-input">
						<input type="text" class="form-control form-control-lg" placeholder="Search menu..." />
					</div>
					<div class="menu-search-icon">
						<a href="#" data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app"><i class="bi bi-x-lg"></i></a>
					</div>
				</div>
			</form>
			<!-- END menu-search -->
		</div>
		<!-- END #header -->

		<!-- when mobile size resolution warn page -->
		<div class="mobile-size">
	<div class="wrapperMessage">
			<div class="logo-wrap">
				<img src="../assets/img/login-zombie-zero-logo.svg" alt="">
			</div>
			<div class="errorInfo">
					
				<h1>Increase the page size</h1>
				<p>이 페이지는 <br> 해상도 <span>1280px</span>이상 에 최적화 되어있습니다.</p>
													
			</div>
	</div>
</div>