<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>PIOLINK CTI | @@title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<!-- App favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="../assets/css/vendor.min.css" rel="stylesheet" />
	<link href="../assets/css/app.min.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
	
</head>
<body>