		<!-- BEGIN #sidebar -->
		<div id="sidebar" class="app-sidebar">
			<!-- BEGIN scrollbar -->
			<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
				<!-- BEGIN menu -->
				<div class="menu">
					<div class="menu-header">Administor</div>
					<!-- 전체 대시보드 -->
					<div class="menu-item">
						<a href="../main/index.html" class="menu-link">
							<span class="menu-icon"><i class="bi bi-cpu"></i></span>
							<span class="menu-text">Dashboard</span>
						</a>
					</div>
					<!-- 사이트 별 대시보드 -->
					<div class="menu-item">
						<a href="../main/index-site.html" class="menu-link">
							<span class="menu-icon"><i class="bi bi-cpu"></i></span>
							<span class="menu-text">Dashboard(사이트별)</span>
						</a>
					</div>
					<!-- 사이버 위협정보 -->
					<div class="menu-item">
						<a href="../web-crawling/web-crawling.html" class="menu-link">
							<span class="menu-icon"><i class="bi bi-bug"></i></span>
							<span class="menu-text">사이버 위협정보</span>
						</a>
					</div>
					<!-- 웹 위/변조 모니터링 -->
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon">
								<i class="bi bi-window"></i>
							</span>
							<span class="menu-text">웹 위/변조 모니터링</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="../web-falsify-monitoring/web-monitoring.html" class="menu-link">
									<span class="menu-text">웹 모니터링</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="../web-falsify-monitoring/detection-log.html" class="menu-link">
									<span class="menu-text">탐지 로그보기</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="../web-falsify-monitoring/exception-file-list.html" class="menu-link">
									<span class="menu-text">예외 파일 항목</span>
								</a>
							</div>
						</div>
					</div>
					<!-- 사고 분석 -->
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon">
								<i class="bi bi-pie-chart"></i>
							</span>
							<span class="menu-text">사고 분석</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="../accident-analisys/analisys-request.html" class="menu-link">
									<span class="menu-text">분석 요청</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="../accident-analisys/accident-analisys-log.html" class="menu-link">
									<span class="menu-text">사고 분석 로그 (수동 분석)</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="../accident-analisys/accident-analisys-log-ir-hunter.html" class="menu-link">
									<span class="menu-text">사고 분석 로그 (IR Hunter)</span>
								</a>
							</div>
						</div>
					</div>
					<!-- 수동 파일 분석 -->
					<!-- <div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon">
								<i class="bi bi-folder-check"></i>
							</span>
							<span class="menu-text">수동 파일 분석</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="../manual-file-analisys/manual-file-upload.html" class="menu-link">
									<span class="menu-text">수동 파일 업로드</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="../manual-file-analisys/manual-file-analisys-log.html" class="menu-link">
									<span class="menu-text">수동 파일 분석 로그</span>
								</a>
							</div>
						</div>
					</div> -->
					<!-- 설정 -->
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon">
								<i class="bi bi-gear"></i>
							</span>
							<span class="menu-text">설정</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="../settings/account-settings.html" class="menu-link">
									<span class="menu-text">계정 설정</span>
								</a>
							</div>
							<!-- <div class="menu-item">
								<a href="../settings/connect-settings.html" class="menu-link">
									<span class="menu-text">연동 설정</span>
								</a>
							</div> -->
							<div class="menu-item">
								<a href="../settings/backup-settings.html" class="menu-link">
									<span class="menu-text">백업 설정</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="../settings/user-detection.html" class="menu-link">
									<span class="menu-text">사용자 탐지룰</span>
								</a>
							</div>
						</div>
					</div>

				</div>
				<!-- END menu -->
			</div>
			<!-- END scrollbar -->
		</div>
		<!-- END #sidebar -->

		<!-- BEGIN mobile-sidebar-backdrop -->
		<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
		<!-- END mobile-sidebar-backdrop -->